    :root {
      --bg: #faf9f7;
      --primary: #3f5d4a;
      --secondary: #8fa99b;
      --accent: #d9bfa9;
      --text: #1f2933;
      --muted: #6b7280;
      --white: #ffffff;
    }

    /* Général */

    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    main {
      display: grid;
      padding: 2rem 1rem;
      gap: 4rem;
    }

    body {
      font-family: 'Inter', sans-serif;
      background: var(--bg);
      color: var(--text);
      line-height: 1.6;
    }

    img {
      max-width: 100%;
      display: block;
    }

    .container {
      max-width: 1100px;
      margin: auto;
    }

    /* Buttons */

    .btn {
      padding: 0.9rem 1.4rem;
      border-radius: 8px;
      text-decoration: none;
      font-weight: 600;
      font-size: 1rem;
      /* Header Button */
      background: var(--primary);
      color: var(--white);
      border: solid 1px var(--primary);
    }

    .btn:hover {
      background-color: var(--white);
      color: var(--primary);
    }

    /* Hero button */
    .btn.secondary {
      background: var(--primary);
      color: var(--bg);
      border: solid 1px var(--primary);
    }

    .btn.secondary:hover {
      background: var(--bg);
      color: var(--primary);
    }

    .btn.third {
      border: solid 1px var(--bg);
      background-color: var(--bg);
      color: var(--primary);
    }

    .btn.third:hover {
      background-color: var(--primary);
      color: var(--bg);
    }

    section h2 {
      font-size: 2rem;
      text-align: center;
    }

    /* Header */

    body>header {
      background: var(--white);
      border-bottom: 1px solid var(--primary);
      padding: 0.5rem 2rem;
    }

    .nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .logo {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-weight: 700;
      font-size: 1.5rem;
      color: var(--primary);
    }

    .logo img {
      width: 80px;
      height: 80px;
    }

    .hero {
      display: grid;
      grid-template-columns: 1.5fr 0.5fr;
      gap: 3rem;
      align-items: center;
      padding: 0 2rem;
    }

    .hero div {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .hero .btn {
      width: fit-content;
    }

    .hero h1 {
      font-size: 2.6rem;
      line-height: 1.2;
      color: var(--primary);
    }

    .hero h1 span {
      word-break: break-all;
    }

    .hero p {
      font-size: 1.15rem;
      color: var(--muted);
    }

    .hero img {
      border-radius: 16px;
      margin: auto;
    }

    .features {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
    }

    .feature {
      background: var(--white);
      padding: 2rem;
      border-radius: 16px;
      text-align: center;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    }

    .feature img {
      width: 80px;
      margin: auto;
    }

    .feature h3 {
      font-size: 1.25rem;
    }

    .feature p {
      color: var(--muted);
      font-size: 1rem;
    }

    .cta,
    .section-courses {
      background: var(--primary);
      color: var(--white);
      border-radius: 24px;
      padding: 2rem;
      text-align: center;
      max-width: 900px;
      margin: auto;
    }

    .cta h2 {
      color: var(--white);
      margin-bottom: 1rem;
    }

    .cta p {
      margin-bottom: 2rem;
      font-size: 1.1rem;
      color: var(--white);
    }

    footer {
      background: var(--white);
      color: var(--text);
      text-align: center;
      padding: 2rem;
      font-size: 1rem;
      border-top: 1px solid var(--primary);
    }

    footer a {
      color: var(--primary);
      font-weight: 500;
    }

    footer .copyright {
      margin-top: 1rem;
      font-size: 0.85rem;
      color: var(--muted);
    }

    .section-courses {
      display: grid;
      place-items: center;
      gap: 2rem;
    }

    .section-courses>header {
      color: var(--white);
    }

    .courses {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
    }

    .course {
      background: var(--white);
      padding: 2rem;
      border-radius: 16px;
      text-align: center;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
    }

    .course>img {
      width: 200px;
      margin: auto;
      margin-bottom: 1.2rem;
    }

    .course>h3 {
      margin-bottom: 0.5rem;
      font-size: 1.25rem;
      color: var(--text);
    }

    .course>p {
      color: var(--muted);
      font-size: 1rem;
    }

    @media (max-width: 900px) {
      .hero {
        grid-template-columns: 1fr;
        text-align: center;
      }

      .hero div {
        align-items: center;
      }

      .features,
      .courses {
        grid-template-columns: 1fr;
      }
    }