    :root {
      --bg: #faf9f7;
      --primary: #3f5d4a;
      --text: #1f2933;
      --white: #ffffff;
    }

    /* Général */

    html {
      scroll-behavior: smooth;
    }

    * {
      scroll-margin-top: 2rem;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    main {
      display: grid;
      padding: 2rem 1rem;
      gap: 4rem;
    }

    body {
      font-family: 'Inter', sans-serif;
      background: var(--bg);
      color: var(--text);
      line-height: 1.6;
    }

    section {

      width: 100%;
      max-width: 1200px;
      margin: auto;
    }

    .hero,
    .cta,
    .why-section,
    .section-courses {
      display: grid;
      gap: 2rem;
    }

    .hero {
      display: grid;
      grid-template-columns: 1.5fr 0.5fr;
      gap: 2rem;
    }


    .cta,
    .section-courses {
      place-items: center;

      background: var(--primary);
      color: var(--bg);

      padding: 2rem;
      border-radius: 24px;
    }

    img {
      max-width: 100%;
      display: block;
    }

    a {
      text-decoration: none;
    }


    /* Buttons */

    .btn {
      display: block;
      padding: 0.9rem 1.4rem;
      border-radius: 8px;
      text-decoration: none;
      font-weight: 600;
      font-size: 1rem;
      /* Header Button */
      background: var(--primary);
      color: var(--bg);
      border: solid 1px var(--primary);
    }

    .btn:hover {
      background-color: var(--bg);
      color: var(--primary);
    }

    /* Hero button */
    .btn.secondary {
      background: var(--primary);
      color: var(--bg);
      border: solid 1px var(--primary);
    }

    .btn.secondary:hover {
      background: var(--bg);
      color: var(--primary);
    }

    .btn.third {
      border: solid 1px var(--bg);
      background-color: var(--bg);
      color: var(--primary);
    }

    .btn.third:hover {
      background-color: var(--primary);
      color: var(--bg);
    }

    section h2 {
      font-size: 2rem;
      text-align: center;
    }

    /* Header */
    header {
      padding: 1rem;
    }

    .nav {
      max-width: 1200px;
      margin: auto;

      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .logo {
      display: flex;
      align-items: center;
      gap: 2rem;
      font-weight: 700;
      font-size: 1.5rem;
      color: var(--primary);
    }

    .logo img {
      width: 35px;
    }

    .hero div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 2rem;
    }

    .hero .btn {
      width: fit-content;
    }

    .hero h1 {
      font-size: 2.6rem;
      line-height: 1.2;
      color: var(--primary);
    }

    .hero p {
      font-size: 1.15rem;
      color: var(--primary);
    }

    .hero img {
      border-radius: 16px;
      margin-left: auto;
    }

    .features {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
    }

    .feature {
      background: var(--white);
      padding: 2rem;
      border-radius: 16px;
      text-align: center;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    }

    .feature img {
      width: 80px;
      margin: auto;
    }

    .feature h3 {
      font-size: 1.25rem;
    }

    .feature p {
      color: var(--text);
      font-size: 1rem;
    }

    .cta p {
      /* margin-bottom: 2rem; */
      font-size: 1.1rem;
      color: var(--white);
    }

    footer {
      color: var(--text);
      text-align: center;
      padding: 2rem;
      font-size: 1rem;
    }

    footer a {
      color: var(--primary);
      font-weight: 500;
    }

    footer a:hover {
      text-decoration: underline;
    }

    footer .copyright {
      margin-top: 1rem;
      font-size: 0.85rem;
      color: var(--text);
    }



    .courses {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
    }

    .course {
      background: var(--white);
      padding: 2rem;
      border-radius: 16px;
      text-align: center;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
    }

    .course>img {
      width: 200px;
      margin: auto;
      margin-bottom: 1.2rem;
    }

    .course>h3 {
      margin-bottom: 0.5rem;
      font-size: 1.25rem;
      color: var(--text);
    }

    .course>p {
      color: var(--text);
      font-size: 1rem;
    }

    #zenamu-calendar>div>div>a {
      display: none;
    }


    @media (max-width: 900px) {
      .hero {
        grid-template-columns: 1fr;
        text-align: center;
      }

      .hero div {
        align-items: center;
      }

      .hero img {
        margin: auto;
      }

      .features,
      .courses {
        grid-template-columns: 1fr;
      }
    }

    @media (max-width: 390px) {
      .hero h1 span {
        word-break: break-all;
      }
    }